.wrapper {
    display: grid;
    grid-template-areas: "input button";
    grid-template-columns: 88% 10%;
    width: 100%;
    grid-auto-rows: 60px;
    align-items: center;
}

.textareaWrapper textarea {
    resize: none;
}


.textareaWrapper textarea,
.textareaWrapper input {
    font-size: 18px;
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    color: #646A77;
}

.buttonWrapper button {
    width: 100%;
}

.textareaWrapper {
    padding-left: 15px;
    grid-area: input;
}

.buttonWrapper {
    grid-area: button;
}
