.writeBoxContainer {
    position: fixed;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    top: 40%;
    z-index: 10;
    
}

.writeBox:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; 
    background-color: rgba(0,0,0,.8);
    opacity: 1;
    z-index: 5;
} 