.userItem a{
    text-decoration: none;
    color: #000;
    font: 18px Arial;
    padding-left: 20px;
}

.userItem {
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.followBtn {
    display: block;
    background: blue;
    color: #fff;
    width: 90px;
    height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.followBtn:active {
    transform: scale(0.89);
}

.ava {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}