.userItem {
    margin-bottom: 13px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    padding: 15px;
}

.userName a {
    text-decoration: none;
    color: #000;
    font: 18px Arial;
    padding-left: 20px;
}

.followBtn {
    display: block;
    line-height: 20px;
    padding: 2px 10px 2px 10px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 7px;
    color: #DDEAF7;
    background: #2193FA;
    cursor: pointer;
}

.followBtn:active {
    transform: scale(0.89);
}

.ava {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}