header {
    grid-area: header;
    border-radius: 5px;
    border: 1px #EBEEF5 solid;
    background: #fff;
}

.loginBlock {
    min-width: 65px;
    height: 24px;
    background-color: white;
    float: right;
    margin-top: 10px;
    margin-right: 16px;
}

.loginBlock a {
    display: block;
    line-height: 20px;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
    text-align: center;
    border: #2193FA 2px solid;
    border-radius: 7px;
    color: #2193FA;
}

.loginBlock img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.loginBlock .hiddenBlock {
    position: relative;
    background: #fff;
    border-radius: 5px;
    border: 1px #EBEEF5 solid;  
}