nav {
    grid-area: nav;
    /* padding: 10px; */
}

.navWrap {
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a {
    display: block;
    padding: 8px 20px;
    font: 20px Arial;
    cursor: pointer;
    color: #646A77;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background: rgb(223, 240, 255);
}





.icon {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 25px;
    margin-left: 10px;
}



.profileIcon {
    background-image: url('../../img/home.png');
}

nav .active .profileIcon {
    background-image: url('../../img/hoverHome.png');
}



.dialogsIcon {
    background-image: url('../../img/dialogs.png');
}

nav .active .dialogsIcon {
    background-image: url('../../img/hoverDialogs.png');
}


.usersIcon {
    background-image: url('../../img/user.png');
}

nav .active .usersIcon {
    background-image: url('../../img/hoverUser.png');
}


.newsIcon {
    background-image: url('../../img/news.png');
}

nav .active .newsIcon {
    background-image: url('../../img/hoverNews.png');
}


.musicIcon {
    background-image: url('../../img/musicIcon.png');
}

nav .active .musicIcon {
    background-image: url('../../img/hoverMusic.png');
}

.active {
    transform: scale(1.1, 1.1) translateX(-3px);
    background: #2193FA;
    color: #DDEAF7;
    border: #5CA7FB 1px solid
}

.active:hover {
    background: rgb(0, 126, 236);
}