
/*
.img {
  background: url('../../img/noty-1.jpg');
  width: 100%;
  height: 200px;
}
*/

.bio {
  width: 100%;
  margin-top: 7px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.bio img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.info ul {
  list-style-type: none;
}

.nick {
  font-weight: bold;
  font: 18px Arial;
}

