
.post {
  box-sizing: border-box;
  padding: 20px 10px 20px 15px;
  width: 100%;
  font: 20px Arial; 
  word-break: break-all;
  margin-top: 13px;
}

.date {
  float: right;
  font: 12px Arial;
  color: grey;
}