.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 500px;
}


.dialogItems a {
    text-decoration: none;
    color: black;
    display: block;
    font: 18px Arial;
    border-bottom: 1px #888 solid;
    padding: 10px 5px;
}

.dialogItems a:hover {
    background: #888;
    color: white;
}




/* СТИЛИ МЕССЕДЖЕЙ */




.messages {
    border: #888 3px solid;
    border-bottom: none;
    padding: 3px;
    position: relative;
    overflow: auto;
    height: 500px;
}


