.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
}



.itemsWrap {
    padding-top: 5px;
    padding-bottom: 5px;
}

.selectChatMsg {
    font: 16px Arial;
    color: rgb(145, 145, 145);
    text-align: center;
    position: relative;
    top: 40%;
}